.productBrand--producto-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #424546;
}

.specificationsTableHead--product__tabs--spec:nth-child(odd) {
  background-color: rgba(107, 129, 136, 0.05);
}

.specificationsTableSpecificationHeading--product__tabs--spec,
.specificationsTablePropertyHeading--product__tabs--spec {
  border: none;
}


@media screen and (max-width:1024px) {
   .productDescriptionContainer{
    margin-top: 3rem;
  }
}