.buttonDataContainer--producto__info-button {
    align-items: center;
}

.buttonDataContainer--producto__info-button::before {
    content: "";
    width: 18px;
    height: 17px;
    background: url(assets/icons/icon-cart.png);
    background-size: contain;
} 

.buttonText--producto__info-button {
    padding-left: 1rem;
}