.openIconContainer--header__desktop--minicart::after {
  position: absolute;
  top: 25px;
  left: 55px;
  content: 'Carro';
  margin-left: 0.4rem;
  color: var(--link-color);
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.openIconContainer--header__desktop--minicart:hover::after {
  color: var(--secondary-color);
}

.openIconContainer :global(.vtex-button):hover {
  background-color: transparent;
}

.minicartSideBarContentWrapper--header__desktop--minicart
  :global(.vtex-flex-layout-0-x-flexRow) {
  border-bottom: 1px solid #e3e4e6;
  padding: 1rem 0 3rem 0rem;
}
