/* ***************************   desktop  ********************************** */

.imageContainer {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brandName {
  font-weight: bold;
  font-style: italic;
}

.priceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
