.slide--slider-products__shelf {
  box-sizing: border-box;
  border-radius: 0;
  background: #edeeef;

  padding: 1rem;
  margin: 0px 0.4rem;
  transition: all 0.3s ease-in-out;
  max-width: 100% !important;

  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.sliderLayoutContainer--slider-products__shelf {
  height: 30rem;
}

.paginationDot--slider-products__shelf--isActive {
  background-color: var(--secondary-color) !important;
}
