.filterMessage {
  font-weight: 700;
  font-size: 27px;
}

.filter__container--title {
  border-color: var(--secondary-color);
}


.filterIcon {
    color: var(--secondary-color)
}
.filterItem--selected :global(.vtex-checkbox__box-wrapper) {
    background-color: var(--secondary-color)
}



.filter__container :global(.vtex-slider__selector),
.filter__container :global(.vtex-slider__base-internal) {
  background-color: var(--secondary-color);
}

.galleryLayoutOptionButton--grid__result--gallerySwitcher {
  background-color: #f0f0f0;
   height: 2rem;
   padding: 0.5rem;
  border-radius: 5px 0 0 5px;
}

.galleryLayoutOptionButton--listProduct__result--gallerySwitcher {
  height: 2rem;
  padding: 0.5rem;
  background-color: #f0f0f0;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
}

.galleryLayoutOptionButton--selected {
  background-color: #3f3f40;
  color: white
}


.galleryLayoutOptionButton--selected :global(.vtex-rich-text-0-x-paragraph--gridlisttitle){
  color: white;
}

.gallery--result-gallery--grid {
  padding-left: 2rem;
}

.totalProducts--layout {
  padding-left: 0;
  padding-bottom: 3rem;
} 

.filterApplyButtonWrapper :global(.vtex-button){
  background-color: #80c342;
  color: white;
}
.filterClearButtonWrapper :global(.vtex-button) {
  color:  #80c342
}


@media screen and (max-width: 1024px) {
  .gallery  {
    width: 90%;
  }
  .gallery--result-gallery--grid {
    padding-left: 0;
  }
  .galleryItem--grid {
    padding: 0 !important;
  }
  .filters--layout {
    display: flex;
    justify-content: start;
  }
   .totalProducts--layout {
    padding-bottom: 3rem;
    border: none;
  }
}

@media screen and (max-width:768px) {

  .filterPopupTitle  {
    font-weight: bold;
  }
  .filterPopupArrowIcon  {
    display: none;
  }
  .orderByButton {
    justify-content: space-around;
    border: 1px solid #424546;
    background-color: #fff;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}


.searchResultContainer {
  max-width: 1900px !important;
  padding: 0;
}
@media screen and (min-width:1600){
 
}