.flexCol--results__text {
  padding: 0 5rem;
}
.flexColChild--result__filter--productCount {
  display: flex;
}
.flexCol--results__text :global(.vtex-disclosure-layout-1-x-trigger) {
  cursor: pointer;
  width: fit-content !important;
  align-self: center;
  border-radius: 5px;
  margin-left: 0;
  background-color: #d7d7d7;
  border: 1px solid #d7d7d7;
  color: #000;
  font-weight: 700;
  padding: 0 15px;
  font-size: 12px;
}

.flexColChild--results__text {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.flexRowContent--results__products
  :global(.vtex-product-price-1-x-sellingPrice) {
  text-align: left;
  font-size: 27px;
  color: #c41616;
  font-weight: 700;
  padding: 1rem 0;
}

.flexRowContent--results__products
  :global(.vtex-product-identifier-0-x-product-identifier) {
  text-align: left;
}

.flexRowContent--results__products
  :global(.vtex-product-summary-2-x-description) {
  list-style-type: disc;
  list-style-position: inside;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #6b8188;
  display: list-item;
}

.flexCol--result__filter--gallerySwitcher {
  display: flex;
  align-items: flex-start;
}

.flexColChild--result__filter--gallerySwitcher :global(.vtex-search-result-3-x-galleryLayoutSwitcher) {
  display: flex;
  align-items: center;
}

/* Grid list desktop */

.flexCol--gridlist-image {
  border-right: 1px solid var(--secondary-color);
}

.flexColChild--gridlist-descript {
  display: flex;
  height: auto !important;
}

.flexCol--gridlist-price {
  display: flex;
  align-items: flex-start;
}
.flexColChild--gridlist-price {
  width: 100%;
  padding: 0.5rem 0 0 0;
  text-align: left;
}

.flexCol--gridlist-price :global(.vtex-button) {
  background-color: var(--secondary-color);
}

.flexRowContent--results__filter {
  padding: 0;
}

@media screen and (max-width:768px) {
  .flexRowContent--results__filter {
    padding: 0 0.5rem;
  }

  .flexColChild--result__filter--productCount {
    margin: 0 auto;
  }
 
}

@media screen and (max-width:1024px){
  .flexRowContent--department__results-desktop .stretchChildrenWidth {
    width: 100% !important;
  }
  .flexRow--results__filter {
    padding-bottom: 3rem;
  }
}
@media screen and (min-width:1200px){
  .flexRowContent--department__breadcrum-container {
    margin: auto;
    width: 96%;
}
.flexRow--department__results-desktop {
  margin: auto;
    width: 95%;
}
  }


  @media screen and (min-width: 1440px) {
   /*  .flexRow--department__breadcrum-container :global(.vtex-store-components-3-x-container) {
      margin: 0;
      margin-left: 2rem;
    } */
  }

@media screen and (min-width:1600px){
  .flexRow--department__results-desktop {
    margin: auto;
      width: 84%;
  }
  
  .flexRow--department__breadcrum-container :global(.vtex-store-components-3-x-container) {
    margin: 0;
    margin-left: 7rem;
  }

  .flexRow--results__products {
    width: 100%;
    margin-left: 2rem !important;
  }
}

