.flexRow--desktop__home-beneficios {
  background-color: #fafafa;
  padding: 1rem 3rem;
}

.flexCol--desktop__home--beneficios {
  padding: 0;
  border-right: 1px solid rgba(107, 129, 136, 0.32);
}

@media (max-width: 1024px) {
  .flexCol--beneficios-content-col {
    padding: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .flexCol--beneficios-content-col-line {
    border-right: 1px solid rgba(107, 129, 136, 0.32);
  }
}
