.paragraph--footer__container-col-title {
  color: white;
  margin-left: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/* 
background-color: #2c2e2f;
    color: #fff;
    padding: 1rem; */

.paragraph--footer__container-text-two,
.paragraph--footer__container-text-one {
  color: white;
  text-align: center;
  font-size: 13px;
}
