.paragraph--footer__container-col-title {
  color: white;
  margin-left: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}
.paragraph--footer__container-text-two,
.paragraph--footer__container-text-one {
  color: white;
  text-align: center;
  font-size: 13px;
}

.paragraph--footer__container-col-title-mobile {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.container--footer__container-col-title-mobile {
  width: 100%;
}

.wrapper--footer__container-title-mobile {
  font-weight: bold;
  color: white;
  text-align: center;
}

.container--footer__container-title-mobile {
  display: flex;
  justify-content: center;
}

.paragraph--footer__container-five-text {
  color: white;
  font-size: 12px;
}

.container--footer__container-five-text {
  display: flex;
  justify-content: center;
}

.container--footer__container-col-title-one {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.footer__container-col-title-rs .paragraph--footer__container-col-title {
  margin-left: 10px;
}

.paragraph--footer__container-col-title-rs {
color: white;
font-weight: bold;
font-size: 14px;
}


@media screen and (max-width: 1024px) {
  .container--footer__container-col-title-rs {
    padding-left: 1.5rem;
  }
  .flexRowContent--footer__container-rs {
    width: 10rem;
  }
}
