.paragraph--bullet_group--title {
    font-weight: 700;
    font-size: 22px;
    color: #2c2e2f
}

@media screen and (min-width: 760px) {
   .paragraph--bullet_group--title {
    font-weight: 500;
        font-size: 22px;
    }
  }