.imageElement--phone__header {
  padding-top: 23px;
}

.searchBarInnerContainer--searchbar__desktop {
  width: 630px;
  max-width: 720px;
}


@media screen and (max-width: 1440px) {
  .searchBarInnerContainer--searchbar__desktop {
  width: 450px;
  max-width: 450px
  }
} 
