.flexRowContent--header__desktop {
  background-color: white;
}

.flexRowContent--header__top-container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRow--header__desktop {
  max-width: 95%;
}

@media screen and (min-width:1600px){
  .flexRow--header__desktop {
    max-width: 90%;
    margin: 0 auto
  }
}