/* ***************************   desktop  ********************************** */

.brandName {
  font-weight: bold;
  font-style: italic;
}

.priceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars {
  color: var(--secondary-color);
}

.nameContainer {
  display: flex;
  justify-content: left;
}

.productBrand {
  font-style: normal;
}

.inlineContainer {
  margin-left: 0;
}

.description {
  display: flex;
  padding: 1rem 0;
}

.imageWrapper--slider-product-img-mobile :global(.vtex-store-components-3-x-discountInsideContainer) {
  background: var(--secondary-color);
  position: absolute;
  left: -50px;
  width: 20%;
}