.discountInsideContainer {
    position: absolute;
    left: 0;
    width: 3rem;
    top: -15px;
    background-color: var(--secondary-color);
}
@media screen and (min-width: 1024px){
    .discountInsideContainer {
        display: none;
    }
}
