/* ***************************   desktop ********************************** */
.slide--slider-products__shelf {
  box-sizing: border-box;
  padding: 1rem;
  margin: 0px 0.4rem;
  background-color: #edeeef;
  transition: all 0.3s ease-in-out;
  max-width: 100% !important;
}

.sliderLayoutContainer--slider-products__shelf {
  height: 38rem;
}
.sliderLayoutContainer--slider-products__shelf-mobile {
  height: 40rem;
  padding: 1rem 0px;
}

.paginationDot--isActive {
  background-color: var(--secondary-color) !important;
  height: 0.625rem;
  width: 0.625rem;
}

/* ***************************   mobile ********************************** */

.slide--slider-products__shelf-mobile {
  box-sizing: border-box;
  border: 1px solid rgb(219, 219, 219);
  background: #fff;
  padding: 1rem;
  margin: 0px 0.4rem;
  transition: all 0.3s ease-in-out;
  max-width: 100% !important;
}

.slide--slider-products__shelf-mobile:hover {
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.slideChildrenContainer--slider-products__shelf
  :global(.vtex-product-summary-2-x-imageContainer),
.slideChildrenContainer--slider-products__shelf-mobile
  :global(.vtex-product-summary-2-x-imageContainer) {
  width: 15rem;
  /*   height: 12rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.slideChildrenContainer--slider-products__shelf :global(.vtex-button),
.slideChildrenContainer--slider-products__shelf-mobile :global(.vtex-button) {
  margin-top: auto;
}

.sliderTrackContainer--slider-products__shelf-mobile :global(.vtex-button) {
  background-color: var(--secondary-color);
  border: none;
  margin-top: auto;
}

.sliderTrackContainer--slider-products__shelf-mobile
  :global(.vtex-product-summary-2-x-imageContainer) {
  width: 15rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  border-bottom: var(--secondary-color);
}

.sliderTrackContainer--slider-products__shelf-mobile
  :global(.vtex-search-result-3-x-filter__container--title) {
  border-color: var(--secondary-color) !important;
}

.sliderTrackContainer--slider-products__shelf-mobile
  :global(.vtex-checkbox__label) {
  font-size: 18px;
}
/* .sliderTrackContainer--slider-products__shelf-mobile {
  border: 1px solid rgb(219, 219, 219);
  background: #fff;
  padding: 1rem;

  transition: all 0.3s ease-in-out;
}
 */
.slide--slider-products__shelf-mobile:hover {
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}
