.paragraph--search-result-tittle {
  font-weight: bold;
  font-size: 22px;
  color: #2c2e2f;
  margin-left: 4rem;
}

@media screen and (max-width: 750px) {
  .paragraph--search-result-tittle {

    margin-left: 0;
  }
}