/* ------------------------ Versión Global -------------------------- */
.searchBarContainer :global(.vtex-input-prefix__group) {
  height: 38px;
  border: 1px solid #6b8188;
  outline: none;
  overflow: hidden;
  border-radius: 8px;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  border-right: 1px solid #727273;
}

.searchIcon {
  color: var(--secondary-color);
}

/* ------------------------ Versión Mobile -------------------------- */
.searchBarContainer {
  box-sizing: border-box;
  width: 90%;
  max-width: 35rem;
}

/* ------------------------ Versión desktop -------------------------- */
@media (min-width: 1024px) {
  .searchBarContainer {
    width: 28rem;
    max-width: auto;
  }
}
@media (min-width: 1440px) {
  .searchBarContainer {
    width: 36rem;
    max-width: auto;
  }
}
